$main-color: #3080FF;
$main-color-light: #a1c5ff;
$second-color: #312F2F;
$third-color: #FEFFFE;
$main-color-dark: #13315C;

.professionals {
  max-width: 1200px;
  margin: 0 auto;

  .hero {
    height: 400px;
    background-image: url('https://images.pexels.com/photos/3184405/pexels-photo-3184405.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > h1 {
      text-align: center;
      color: $third-color;
      margin: 58px 0;
      font-size: 68px;
      background-color: $main-color;
    }
  }

  .search {
    width: 100%;
    text-align: center;

    fieldset {
      text-align: justify;
      border: none;
      width: 75%;
      margin: 0 auto;

      .radio-area-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 5px;
      }

      input {
        margin: 0 5px;
      }

      label {
        margin-right: 5px;
        font-size: 18px;
        cursor: pointer;
      }

      .clear {
        border: none;
        font-size: 16px;
        border-radius: 4px;
        color: $third-color;
        margin-left: 5px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: rgb(218, 74, 74);

        &:hover {
          background-color: rgb(170, 36, 36);
        }
      }
    }

    fieldset:nth-of-type(1) {
      width: 19%;
    }

    > button {
      border: none;
      font-size: 20px;
      background-color: $main-color;
      border-radius: 4px;
      color: $third-color;
      padding: 5px 10px;
      margin: 10px 0 10px;
      cursor: pointer;

      &:hover {
        background-color: $main-color-dark;
      }
  }
  }

  .professionals-per-page {
    display: flex;
    justify-content: center;
    align-items: center;
  
    p {
      font-size: 20px;
    }
  
    .button {
      font-size: 20px;
      border: none;
      padding: 5px 15px;
      margin: 10px 5px;
      background-color: $main-color;
      color: $third-color;
      transition: background-color 0.2s;
      cursor: pointer;
  
      &:hover {
        background-color: $main-color-dark;
      }
    }
  
    .button-selected {
      font-size: 20px;
      border: none;
      padding: 5px 15px;
      margin: 10px 5px;
      background-color: $main-color-dark;
      color: $third-color;
      transition: background-color 0.2s;
      cursor: pointer;
    }
  }

  .actual-page {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $second-color;
    margin-bottom: 10px;
  }

  .professionals-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
  }

  .pages {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    button {
      margin: 0 10px;
      border: none;
      background-color: $main-color;
      color: white;
      font-size: 20px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: $main-color-dark
      }

      &:disabled {
        background-color: $main-color-light;
        cursor: default;
      }
    }
  }
}