$main-color: #3080FF;
$second-color: #312F2F;
$third-color: #FEFFFE;
$main-color-dark: #13315C;

.jobs {
  max-width: 1200px;
  margin: 0 auto;

  .hero {
    height: 400px;
    background-image: url('https://images.pexels.com/photos/5336167/pexels-photo-5336167.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > h1 {
      text-align: center;
      color: $third-color;
      margin: 58px 0;
      font-size: 68px;
      background-color: $main-color;
    }
  }

  .search {
    width: 100%;
    text-align: center;

    .primary, .secondary {
      padding: 10px 0;

      label {
        font-size: 24px;
      }

      input {
        width: 60%;
        font-size: 16px;
        padding-top: 4px;
        margin-right: 5px;
        border: none;
        border-bottom: 1px solid $main-color;
      }

      button {
        border: none;
        font-size: 16px;
        border-radius: 4px;
        color: $third-color;
        padding: 5px 10px;
        cursor: pointer;
        background-color: rgb(218, 74, 74);
        
        &:hover {
          background-color: rgb(170, 36, 36);
        }
      }
    }

    .more-options {
      margin: 15px auto 5px;
      width: 15%;
      font-size: 16px;
      color: $main-color;
      cursor: pointer;

      &:hover {
        color: $main-color-dark;
        text-decoration: underline;
      }
    }

    .secondary-search {
      margin-bottom: 10px;

      fieldset {
        text-align: justify;
        border: none;
        width: 50%;
        margin: 0 auto;

        .radio-area-title {
          text-align: center;
          font-size: 24px;
          margin-bottom: 5px;
        }

        input {
          margin: 0 5px;
        }

        label {
          margin-right: 5px;
          font-size: 18px;
          cursor: pointer;
        }

        .clear {
          border: none;
          font-size: 16px;
          border-radius: 4px;
          color: $third-color;
          margin-left: 5px;
          padding: 5px 10px;
          cursor: pointer;
          background-color: rgb(218, 74, 74);
  
          &:hover {
            background-color: rgb(170, 36, 36);
          }
        }
      }

      > button {
          border: none;
          font-size: 20px;
          background-color: $main-color;
          border-radius: 4px;
          color: $third-color;
          padding: 5px 10px;
          cursor: pointer;
  
          &:hover {
            background-color: $main-color-dark;
          }
      }
    }

    button {
      border: none;
      font-size: 20px;
      background-color: $main-color;
      border-radius: 4px;
      color: $third-color;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: $main-color-dark;
      }
    }
  }

  .jobs-per-page {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 20px;
    }

    .button {
      font-size: 20px;
      border: none;
      padding: 5px 15px;
      margin: 10px 5px;
      background-color: $main-color;
      color: $third-color;
      transition: background-color 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $main-color-dark;
      }
    }

    .button-selected {
      font-size: 20px;
      border: none;
      padding: 5px 15px;
      margin: 10px 5px;
      background-color: $main-color-dark;
      color: $third-color;
      transition: background-color 0.2s;
      cursor: pointer;
    }
  }

  .jobs-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
  }

  .pages {
    display: flex;
    margin: 0 auto 25px;
    justify-content: center;
    margin: 25px 0;

    span, p {
      font-size: 24px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: $main-color;
        color: $third-color;
      }
    }

    span {
      padding: 5px 15px;
      margin: 0 10px;
    }

    p {
      padding: 5px 10px;
    }
  }
}