$main-color: #3080FF;
$second-color: #312F2F;
$third-color: #FEFFFE;
$main-color-dark: #1331;

.jobs {
  max-width: 1200px;
  margin: 0 auto;

  .hero {
    height: 400px;
    background-image: url('https://images.pexels.com/photos/5336167/pexels-photo-5336167.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > h1 {
      text-align: center;
      color: $third-color;
      margin: 58px 0;
      font-size: 68px;
      background-color: $main-color;
    }
  }

  .jobs-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
  }

  .pages {
    display: flex;
    margin: 0 auto 25px;
    justify-content: center;
    margin: 25px 0;

    span, p {
      font-size: 24px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: $main-color;
        color: $third-color;
      }
    }

    span {
      padding: 5px 15px;
      margin: 0 10px;
    }

    p {
      padding: 5px 10px;
    }
  }
}